<div class="field" ng-class="{'has-error': isError()}">
  <label class="field__label" for="{{theId}}">{{ivcConfig.title}}</label>
  <div class="field__group">
    <span class="field__addon field__addon--prefix" ng-if="ivcConfig.unitsPrefix">{{ivcConfig.unitsPrefix}}</span>
    <input type="number" id="{{theId}}" ng-model="ivcModel" ng-change="ivcConfig.callback()" inputmode="decimal">
    <span class="field__addon field__addon--suffix" ng-if="ivcConfig.unitsSuffix">{{ivcConfig.unitsSuffix}}</span>
  </div>
  <span class="field__tip">{{ivcConfig.tip}}</span>
  <span class="field__error" ng-show="isError()"><strong>{{errorMessage}}</strong></span>
</div>
